<app-admin-nav></app-admin-nav>
<div class="container">
  <table class="table table-stripped">
    <thead>
      <tr>
        <td>Image</td>
        <td>Description</td>
        <td>Price</td>
        <td>Category</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let image of flowers">
        <td><img [src]="image.imageUrl" width="200" height="200" alt="flower"></td>
        <td>{{image.description}}</td>
        <td>{{image.price}}</td>
        <td>{{image.category}}</td>
        <td>
          <button class="btn btn-warning"> Update </button>
          <button class="btn btn-danger" (click)="delete(image.id)"> Delete </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
