<app-admin-nav></app-admin-nav>
<div class="container table-responsive">
  <table class="table table-stripped">
    <thead>
      <tr>
        <td>Image</td>
        <td>Description</td>
        <td (click)="sort('price')" class="sort-icon active">Price &nbsp; <i class="fa fa-sort"></i></td>
        <td (click)="sort('category')" class="sort-icon active">Category</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let image of flowers">
        <td><img [src]="image.imageUrl" width="200" height="200" alt="flower"></td>
        <td>{{image.description}}</td>
        <td>{{image.price}}</td>
        <td>{{image.category}}</td>
        <td>
          <button class="btn btn-warning" (click)="openEditModel(template, image.id)"> Update </button>
          <button class="btn btn-danger" (click)="openDeleteModal(deleteTemplate, image.id)"> Delete </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Update</h4>
    <button type="button" class="close pull-right" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="updateFlower()" #addForm="ngForm">
      <div class="form-group">
        <label for="name"> Name</label>
        <input type="text" [(ngModel)]="name" #nameFeild="ngModel" name="name" class="form-control" id="name" placeholder="Enter the Image file name" required>
         <small *ngIf="nameFeild.touched && !nameFeild.valid"> Enter Image name</small>
      </div>
      <div class="form-group">
       <label for="price"> Price</label>
       <input type="text" [(ngModel)]="price" #priceFeild="ngModel" name="price" class="form-control" id="price" placeholder="Enter the Image file name" required>
       <small *ngIf="priceFeild.touched && !priceFeild.valid"> Enter amount</small>
       </div>
      <div class="form-group">
        <label for="description"  required="required">Description</label>
        <input type="text" [(ngModel)]="description" #descriptionFeild="ngModel" name="description" class="form-control" id="description" placeholder="describe image" required>
        <small *ngIf="descriptionFeild.touched && !descriptionFeild.valid"> Enter description</small>
      </div>
      <div class="form-group">
        <label for="categoty">Category</label>
        <select [(ngModel)]="category" #categoryFeild="ngModel" class="form-control" id="categoty" name="categoty" required>
         <option value="">Please select an option</option>
          <option value="birthday">Birthday</option>
          <option value="love">Love</option>
          <option value="marriage">Marriage</option>
          <option value="grandOpening">Grand-opening</option>
          <option value="sympathy">Sympathy</option>
        </select>
        <small *ngIf="categoryFeild.touched && !categoryFeild.valid"> Enter category</small>
      </div>
      <hr>
      <div class="form-group mt-3">
        <label class="mr-2">Upload Image:</label>
        <input (change)="onFileChanged($event)" type="file" accept="image/*" name="file">
      </div>
      <hr>
      <button [disabled]="!addForm.valid" type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</ng-template>


<ng-template #deleteTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete?</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Are you sure to delete? It will also delete all sales data associated with the flower!!
    <br><hr>
    <button type="button" class="btn btn-default" (click)="confirmDelete(imageToBeDeletedId)" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="declineDelete()" >No</button>
  </div>
</ng-template>
