<app-admin-nav></app-admin-nav>
<div class="col-md-6 offset-md-3 mt-5">
  <a target="_blank" href="https://getform.io?ref=codepenHTML">
     <img src='https://i.imgur.com/Z2Nyxsm.png'>
   </a>
   <br>
   <h1>File Upload</h1>
   <form (ngSubmit)="addFlower()" #addForm="ngForm">
     <div class="form-group">
       <label for="name"> Name</label>
       <input type="text" [(ngModel)]="name" #nameFeild="ngModel" name="name" class="form-control" id="name" placeholder="Enter the Image file name" required>
        <small *ngIf="nameFeild.touched && !nameFeild.valid"> Enter Image name</small>
     </div>
     <div class="form-group">
      <label for="price"> Price</label>
      <input type="number" [(ngModel)]="price" #priceFeild="ngModel" name="price" class="form-control" id="price" placeholder="Enter the Image file name" required>
      <small *ngIf="priceFeild.touched && !priceFeild.valid"> Enter amount</small>
      </div>
     <div class="form-group">
       <label for="description"  required="required">Description</label>
       <input type="text" [(ngModel)]="description" #descriptionFeild="ngModel" name="description" class="form-control" id="description" placeholder="describe image" required>
       <small *ngIf="descriptionFeild.touched && !descriptionFeild.valid"> Enter description</small>
     </div>
     <div class="form-group">
       <label for="categoty">Category</label>
       <select [(ngModel)]="category" #categoryFeild="ngModel" class="form-control" id="categoty" name="categoty" required>
        <option value="">Please select an option</option>
         <option value="birthday">Birthday</option>
         <option value="love">Love</option>
         <option value="marriage">Marriage</option>
         <option value="grandOpening">Grand-opening</option>
         <option value="sympathy">Sympathy</option>
       </select>
       <small *ngIf="categoryFeild.touched && !categoryFeild.valid"> Enter category</small>
     </div>
     <hr>
     <div class="form-group mt-3">
       <label class="mr-2">Upload Image:</label>
       <input (change)="onFileChanged($event)" type="file" accept="image/*" name="file">
     </div>
     <hr>
     <button [disabled]="!addForm.valid" type="submit" class="btn btn-primary">Submit</button>
   </form>
</div>


