<body>


  <app-nav [shoppingCartCount]="cartCount"></app-nav>

  <div class="container table-responsive" *ngIf="!checkoutButtonClicked">
    <h3 *ngIf="flowersInCart.length === 0" class="p-md-5"> Quite loanly here!!</h3>
    <table *ngIf="flowersInCart.length > 0" class="table table-stripped" style="margin-bottom: 10%;">
      <thead>
        <tr>
          <td>Image</td>
          <td>Name</td>
          <td>Description</td>
          <td>Price</td>
          <td>Category</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let image of flowersInCart">
          <td><img [src]="image.imageUrl" width="100" height="100" alt="flower">
            <br><span *ngIf="image.count !== undefined">x {{image.count}}</span> 
          </td>
          <td>{{image.name}}</td>
          <td>{{image.description}}</td>
          <td>{{image.price}}</td>
          <td>{{image.category}}</td>
          <td>
            <button class="btn btn-danger" (click)="deleteFromCart(image)"> Delete </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <a class="navbar-brand m-md-3">Your total --- Rs. {{cartTotal}} </a>
        <div>
          <ul>
            <li>
              <button *ngIf="cart.count !== 0" class="btn btn-warning m-3" (click)="proceedBuy()"> Checkout</button>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <div class="container" *ngIf="checkoutButtonClicked">
    <div class="row">
      <div class="col-sm-6">
        <table class="table table-stripped">
          <thead>
            <tr>
              <td>Name</td>
              <td>Delivery Adress</td>
              <td>City</td>
              <td>Country</td>
              <td>Contact</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{customer.firstName}}</td>
              <td>{{customer.address}}</td>
              <td>{{customer.city}}</td>
              <td>{{customer.country}}</td>
              <td>{{customer.contact}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-6">
        <table class="table table-stripped">
          <thead>
            <tr>
              <td>Item name</td>
              <td>Item Quantity</td>
              <td>Item total Rs.</td>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let flower of flowersInCart">
              <td>{{flower.name}}</td>
              <td>{{flower.count === undefined ? 1 : flower.count}}</td>
              <td>{{flower.price}}</td>
            </tr>
            <tr>
              <td colspan="2">Total</td>
              <td>{{cartTotal}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <button class="btn btn-success" (click)="pay()">Proceed to pay</button>
    <button class="btn btn-secondary m-sm-5" (click)="resetCheckout()">Back</button>
  </div>

</body>
