<body>
  <app-nav [shoppingCartCount]="cartCount">
  </app-nav>
  <div class="col-12" style="height:100%;">
    <nav id="sidebar col-3">
      <div class="p-4 pt-5">
        <div id="shopFilterNav" class="sidenav">
          <a class="closebtn" (click)="closeNav()">&times;</a>
          <ul class="list-unstyled components mb-5">
            <li>
              <a (click)="getAllFlowers()">All</a>
            </li>
            <li>
              <a (click)="getBirthdayFlowers()">Birthday</a>
            </li>
            <li>
              <a (click)="getLoveFlowers()">Love</a>
            </li>
            <li>
              <a (click)="getMarriageFlowers()">Marriage</a>
            </li>
            <li>
              <a (click)="getGrandOpeningFlowers()">Grand Opening</a>
            </li>
            <li>
              <a (click)="getSympathyFlowers()">Sympathy</a>
            </li>
            <li>
              <a (click)="getSympathyFlowers()">Get well soon</a>
            </li>
          </ul>
        </div>
        <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776; Sort</span>


      </div>
    </nav>

  </div>
  <div class="row m-md-4">
    <div class="card-group col-12" style="margin-left: 5%;">
      <div *ngFor="let flower of flowersInCategory">
        <div class="card col m-2" style="margin-bottom:8%">
          <img class="card-img-top" [src]="flower.imageUrl" alt="{{flower.name}}"  height="200" />
          <div class="card-body">
            <h5 style="margin-top: 5%;" class="card-title">{{flower.name}}</h5>
            <p class="card-text">{{flower.description}}</p>
            <p class="card-text">Rs. {{flower.price}}</p>
            <a class="btn btn-primary col-12" (click)="addToCart(flower)" style="color:azure">Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>
<app-footer></app-footer>
