<app-admin-nav></app-admin-nav>
<div class="container">
  <form (ngSubmit)="updateFormSubmit(updateform)" #updateform="ngForm">
    <table class="table table-stripped">
      <thead>
        <tr>
          <td>Current Image</td>
          <td>Action</td>
          <td>Description</td>
          <td>Price</td>
          <td>Category</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let image of flowers">
          <td><img [src]="image.imageUrl"  width="150" height="150" alt="flower"/></td>
          <td><input [(ngModel)]="selectedflowers" name="photo  " type="file" class="btn btn-primary"></td>
          <td><input type="text" value="{{image.description}}"></td>
          <td><input type="text" value="{{image.price}}"></td>
          <td><input type="text" value="{{image.category}}"></td>
        </tr>
      </tbody>
    </table>
  </form>
</div>

