/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1000px}

/* Set gray background color and 100% height */
.sidenav {
  background-color: #6f50c2;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

.btn{
  background-color:#6f30c1;
  border-color:#6f30c1;
}
.sr-only{
  color:azure;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;}

  .sr-only{
    color:azure;
  }

}
