<nav class="navbar navbar-expand-lg navbar-light bg-light container">
  <a class="navbar-brand"[routerLink]="['admin/add']">Flowers | Admin</a>
  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav container">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/admin/add']" [routerLinkActive]="['active']" >Add</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/view']" [routerLinkActive]="['active']" >View</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/shops']" [routerLinkActive]="['active']" >Shops</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/reports']" [routerLinkActive]="['active']">Sales Reports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/custReports']" [routerLinkActive]="['active']" >Customer Reports</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<ng-template #templateLogOut>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Are you sure to logout?</h4>
  </div>
  <div class="modal-body">
    <button type="button" class="btn btn-default">Yes</button>
    <button type="button" class="btn btn-default">No</button>

  </div>
</ng-template>

