<!-- Footer -->
<hr>
<footer class="footer font-small footer-dark pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Online Flowers</h5>
      </li>
      <li class="list-inline-item">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/locations']" routerLinkActive="router-link-active text-bold" >Locations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active text-bold" >Contact</a>
        </li>
    </ul>
    <!-- Call to action -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Online Flowers:
    <a href="https://mdbootstrap.com/"> Online flowers</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

